.main-navigation {
  clear: both;
  display: block;
  text-align: center;
  width: 100%;
  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 1.5em;
      left: -999em;
      z-index: 99999;
      ul {
        left: -999em;
        top: 0;
      }
      li {
        &.focus > ul,
        &:hover > ul {
          left: 100%;
        }
      }
      a {
        width: 200px;
      }
      .focus > a,
      :hover > a {}
      a.focus,
      a:hover {}
    }
    li.focus > ul,
    li:hover > ul {
      left: auto;
    }
  }
  li {
    text-align: center;
    position: relative;
    padding-right: 0.5em;
    &.focus > a,
    &:hover > a {}
  }
  a {
    display: block;
    text-decoration: none;
  }
  .current-menu-ancestor > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current_page_item > a {}
}
/* Small menu. */
.main-navigation.toggled ul,
.menu-toggle {
  display: block;
}
/*  Adjusted min-width from 37.5em to ensure proper float:right of li.home-link-site-title */
@media screen and (min-width: 15em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}
.comment-navigation,
.post-navigation,
.posts-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }
  .nav-previous {
    float: left;
    width: 50%;
  }
  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
  .home-link-site-title {
    font-size: 1.25rem;
  }
  @media screen and (min-width: 300px) {
    .home-link-site-title {
      visibility: visible !important;
    }
  }
}
.main-navigation > .home-link-site-title {
  text-align: center !important;
}
#responsive_menu_pro {
  overflow-wrap: break-word;
  overflow-y: hidden!important;
  min-width: 100% !important;
}

.responsive_menu_pro_button_active > #responsive_menu_pro_button_text {
  display:none;
}


#masthead {
  #padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.main-navigation li {
  padding-top: 0.25em;
}

.site-info {
  display: inline;
  left: 0;
  right: 0;
  padding-left: 0.5em;
  text-align: left;
  list-style-type: none;
}

.email {
  display: inline;
}

.linkedin {
  float: right;
  display: inline !important;
}

.github {
  float: right;
  padding-left: 0.4em;
  padding-right: 0.25em;
  display: inline !important;
}
.site-info-components {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  padding-top: 0.25em;
}

.page-id-19 .github > a {
  display: none !important;
}
.page-id-19 .linkedin > a {
  display: none !important;
}
.page-id-19 .email {
  display: inline;
  padding-right: 0.5em;
  float: right;
  color: $color_green;
}
.page-id-6 .email {
  display: none;
}
.page-id-160 .email {
  display: none;
}
.page-id-102 .email {
  display: none;
}
.page-id-195 .email {
  display: none;
}
.home-link-site-title {
  display: inline;
}
.site-info-components {
  text-align: center;
  text-decoration: none;
}

.home-link-site-title {
  float:left;
  padding-left:2.5em;
  margin-top:-0.15em;
}

.home-link-site-title > a {
  color: white;
}

.home-link-site-title > a:hover {
  color: #e68dba !important;
}



/* Media Query breakpoints based on devices tested on Chrome DevTools  */

/* Portrait */

/* Covers iPhone 4 portrait (480px x 320px)*/
@media screen and (min-height: 300px) and (max-height: 480px) and (orientation : portrait) {
  .responsive_menu_pro_menu li a {
    margin-left: -0.8em;
    font-size: 16vw !important;
    line-height: 19vh !important;
  }
}

/*  Covers iPhone 5 portrait (568px x 320px) */
@media screen and (min-height: 481px) and (max-height: 568px) and (orientation : portrait) {
  .responsive_menu_pro_menu li a {
    margin-left: -0.75em;
    font-size: 16.5vw !important;
    line-height: 19.5vh !important;
  }
}

/*  Covers iPhone 6 portrait (667px x 375px) */
@media screen and (min-height: 569px) and (max-height: 667px) and (orientation : portrait) {
  .responsive_menu_pro_menu li a {
    margin-left: -0.5em;
    font-size: 17vw !important;
    line-height: 20.5vh !important;
  }
}

/*  Covers iPhone 6 Plus portrait (736px x 414px) */
@media screen and (min-height: 668px) and (max-height: 736px) and (orientation : portrait) {
  .responsive_menu_pro_menu li a {
    margin-left: -0.5em;
    font-size: 17.5vw !important;
    line-height: 20vh !important;
  }
}

/*  Covers Nexus 7 portrait (960px x 600px) */
@media screen and (min-height: 737px) and (max-height: 960px) and (orientation : portrait) {
  .responsive_menu_pro_menu li a {
    margin-left: -0.4em;
    font-size: 18vw !important;
    line-height: 22vh !important;
  }
}

/*  Covers iPad portrait (1024px x 768px) */
@media screen and (min-height: 961px) and (max-height: 1024px) and (orientation : portrait) {
  .responsive_menu_pro_menu li a {
    margin-left: -0.3em;
    font-size: 18.5vw !important;
    line-height: 22vh !important;
  }
}

/*  Covers Nexus 10 portrait (1280px x 800px) */

@media screen and (min-height: 1025px) and (max-height: 1280px) and (orientation : portrait) {
  .responsive_menu_pro_menu li a {
    margin-left: -0.3em;
    font-size: 19vw !important;
    line-height: 22vh !important;
  }
}


/*  Covers Kindle Fire HD portrait (2560 x 1600px) */
@media screen and (min-height: 1281px) and (max-height: 2560px) and (orientation : portrait) {
  .responsive_menu_pro_menu li a {
    margin-left: -0.2em;
    font-size: 19.5vw !important;
    line-height: 24vh !important;
  }
}

/* Landscape */

/*  Covers iPhone 4 landscape (480px x 320px)*/
@media screen and (min-width: 300px) and (max-width: 480px) and (orientation : landscape) {
  .responsive_menu_pro_menu li a {
    margin-left: -0.8em;
    font-size: 7vw !important;
    line-height: 17.5vh !important;
  }
}

/*  Covers iPhone 5 landscape (568px x 320px) */
@media screen and (min-width: 481px) and (max-width: 568px) and (orientation : landscape) {
  .responsive_menu_pro_menu li a {
    margin-left: -0.8em;
    font-size: 7.5vw !important;
    line-height: 17vh !important;
  }
}

/*  Covers iPhone 6 landscape (667px x 375px) */
@media screen and (min-width: 569px) and (max-width: 667px) and (orientation : landscape) {
  .responsive_menu_pro_menu li a {
    margin-left: -0.8em;
    font-size: 8vw !important;
    line-height: 17.5vh !important;
  }
}

/*  Covers iPhone 6 PLus landscape (736px x 414px) */
@media screen and (min-width: 668px) and (max-width: 736px) and (orientation : landscape) {
  .responsive_menu_pro_menu li a {
    margin-left: -0.5em;
    font-size: 8.5vw !important;
    line-height: 17.5vh !important;
  }
}


/*  Covers Nexus 7 Landscape (960px x 600px) */
@media screen and (min-width: 737px) and (max-width: 960px) and (orientation : landscape) {
  .responsive_menu_pro_menu li a {
    margin-left: -0.6em;
    font-size: 9vw !important;
    line-height: 21vh !important;
  }
}

/*  Covers iPad Landscape (1024px x 768px) */
@media screen and (min-width: 961px) and (max-width: 1024px) and (orientation : landscape) {
  .responsive_menu_pro_menu li a {
    margin-left: -0.4em;
    font-size: 10vw !important;
    line-height: 21.5vh !important;
  }
}

/*  Covers Laptop with MDPI Screen Landscape (1280px x 800px) and Laptop with HiDPI Screen Landscape (1440px x 900px) */

@media screen and (min-width: 1025px) and (max-width: 1440px) and (orientation : landscape) {
  .responsive_menu_pro_menu li a {
    margin-left: -0.5em;
    font-size: 10.5vw !important;
    line-height: 21.5vh !important;
    overflow-y: hidden!important;
  }
}

/*  Covers 24in monitor (1920px x 1080px) */

@media screen and (min-width: 1441px) and (max-width: 1920px) and (orientation : landscape) {
  .responsive_menu_pro_menu li a {
    margin-left: -0.5em;
    font-size: 10.5vw !important;
    line-height: 23vh !important;
    overflow-y: hidden!important;
  }
}

/*  Covers next widths - responsive */

@media screen and (min-width: 1921px) and (max-width: 2559px) and (orientation : landscape) {
  .responsive_menu_pro_menu li a {
    margin-left: -0.5em;
    font-size: 8vw !important;
    line-height: 23vh !important;
    overflow-y: hidden!important;
  }
}


/*  Covers Kindle Fire HD Landscape (2560px x 1600px) and above */
@media screen and (min-width: 2560px) and (max-width: 4000px) and (orientation : landscape) {
  .responsive_menu_pro_menu li a {
    margin-left: -0.5em;
    font-size: 9vw !important;
    line-height: 23vh !important;
    overflow-y: hidden!important;
  }
}
